<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="__PUBLIC_ADMIN__/bootstrap/css/bootstrap.min.css." />
<link rel="stylesheet" href="__PUBLIC_ADMIN__/css/base.css" />
<title>移动办公自动化系统</title>
</head>

<body>
    <div class="panel panel-default">
        <div class="panel-heading headbar">
            <h2>常用工具</h2>
        </div>
        <div class="panel-body">
            <div id="Tab">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="__PUBLIC_ADMIN__/#home" data-toggle="tab">基本信息</a></li>
                    <li><a href="__PUBLIC_ADMIN__/#ios" data-toggle="tab">详细描述</a></li>
                </ul>
            </div>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane in active" id="home">
                  基本信息
                </div>
                <div class="tab-pane" id="ios">

                    详细描述
                </div>
            </div>
            <form class="form-horizontal" role="form" action="__SELF__" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="firstname" class="col-sm-1 control-label">名字</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="firstname" 
                               placeholder="请输入名字">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-1 control-label">姓</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="lastname" 
                               placeholder="请输入姓">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-1 control-label">姓</label>
                    <div class="col-sm-3">
                        <select class="form-control">
                            <option>选择角色</option>
                            <option>选择角色</option>
                            <option>选择角色</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-8">
                        <button type="submit" class="btn btn-default">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="__PUBLIC_ADMIN__/js/jquery.js"></script>
<script src="__PUBLIC_ADMIN__/bootstrap/js/bootstrap.min.js"></script>

</html>
